/*------------------------------------*\
    #TABLE OF CONTENTS
\*------------------------------------*/
/**
 * ABSTRACTS..............................Declarations of Sass variables & mixins
 * BASE...................................Default element styles
 * LAYOUT.................................Layout-specific styles
 * COMPONENTS.............................Component styles
 * UTILITIES..............................Utility classes
 */
/*------------------------------------*\
    #ABSTRACTS
\*------------------------------------*/
/* Media Queries */
/* Header */
/* Sidebar */
/* Buttons */
@import url(../../../fonts/font-awesome/css/all.css);
@font-face {
  font-family: 'Roboto';
  src: url("../../../fonts/roboto/Roboto-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../../../fonts/roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

/*------------------------------------*\
    #BASE
\*------------------------------------*/
*, *::before, *::after {
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

a:active, a:hover {
  outline: none; }

b, strong {
  font-weight: bold; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

svg:not(:root) {
  overflow: hidden; }

hr {
  box-sizing: content-box;
  height: 0;
  border: 0;
  border-top: 1px solid #eeeeee; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  margin: 0;
  color: inherit;
  font: inherit;
  line-height: inherit; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  margin: 0;
  padding: 0;
  border: none; }

input, select, textarea {
  outline: none; }

textarea {
  overflow: auto; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

img {
  vertical-align: middle; }

:focus {
  outline: none; }

/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/
/* @import "scss/layout/layout"; */
/*------------------------------------*\
    #UTILITIES
\*------------------------------------*/
/*------------------------------------*\
    #COMPONENTS
\*------------------------------------*/
#delete-user {
  color: #DC3545;
  background-color: #FFFFFF;
  border: 2px solid #DC3545;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  max-width: 102px;
  padding: 10px 12.5px;
  text-decoration: none; }

#dropdown-button {
  background-color: #FFFFFF;
  border: 1px solid #C4C4C4;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  max-width: 102px;
  padding: 11px 18.5px;
  text-decoration: none; }

#plus-button-blue {
  color: white;
  background-color: #2196F3;
  border-radius: 6px;
  font-size: 25px;
  font-weight: 900;
  line-height: 40px;
  padding: 5px 13px 6px 13px;
  text-decoration: none; }

#reset-password {
  color: #2196F3;
  background-color: #FFFFFF;
  border: 2px solid #2196F3;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  max-width: 102px;
  padding: 5px 13px 6px 13px;
  text-decoration: none; }

#status-active {
  color: white;
  background-color: #5E8923;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
  padding: 5px 13px 6px 13px;
  text-decoration: none; }

.avatar {
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  color: #009ef7;
  font-size: 18px;
  font-weight: 600;
  height: 44px;
  line-height: 42px;
  min-width: 44px;
  text-align: center;
  width: 44px; }

.badge {
  position: relative; }
  .badge::after {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    content: "";
    display: block;
    position: absolute;
    background-size: 22px 22px;
    height: 22px;
    width: 22px;
    right: -10px;
    bottom: -7px;
    background: #8dc63f; }

.badge.member::after {
  background: #b775a4; }

.dotted-line .border {
  position: relative;
  width: 16px; }
  .dotted-line .border:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    height: 100%;
    height: inherit;
    border-left: 2px dotted #c4c4c4; }

.dotted-line .icon {
  text-align: center;
  width: 19px;
  height: 19px;
  background: #c4c4c4;
  border-radius: 50%;
  border: 3px solid #dde6d1; }

.dotted-line .icon > i {
  margin: 33% auto; }

.dotted-line.green .border:after {
  border-left-color: #5e8923; }

.dotted-line.green .icon {
  background: #5e8923;
  border-color: #bee2c9; }

.dotted-line.red .border:after {
  border-left-color: #ff9000; }

.dotted-line.red .icon {
  background: #ff9000;
  border-color: #f4f4f4; }

#member-picture {
  border: 1px solid #CDCDCD;
  border-radius: 6px;
  cursor: pointer;
  padding: 9px;
  margin-bottom: 16px; }

#panel-separator {
  border-bottom: 1px solid #C4C4C4;
  margin-bottom: 15px;
  opacity: 20%;
  margin: 0 auto 15px auto; }

.header {
  background-image: url(../../../images/banner.png);
  background-size: cover;
  font-family: Roboto;
  color: #fff; }
  .header .content {
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 180px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto; }
  @media (min-width: 992px) {
    .header .content {
      min-height: 160px;
      grid-template-columns: 0.1fr 1fr 0.2fr 1fr 0.1fr; } }

.main {
  font-family: Roboto;
  width: 100%;
  max-width: none;
  margin: 0 auto;
  padding: 0.5rem 0.1rem;
  background-color: #e5e5e5; }

@media (min-width: 992px) {
  .main {
    padding: 2rem 1.5rem; } }

.panel {
  background-color: #fff;
  color: #5a5a5a;
  font-family: Roboto;
  width: 100%;
  padding: 16px;
  border-radius: 10px; }
  .panel .panel-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 16px; }
    .panel .panel-header .left-side .title {
      font-size: 14px; }
    .panel .panel-header .left-side .counter {
      font-size: 16px;
      font-weight: 600; }
    .panel .panel-header .action {
      font-size: 14px;
      font-weight: 700;
      color: #2196f3; }

.sidebar {
  font-family: Roboto;
  font-size: 0.7rem;
  background-color: #5e8923;
  color: #fff;
  width: 120px; }
  .sidebar .sidebar-logo {
    display: block;
    height: 58px;
    width: 73px;
    margin: 15px auto; }

.three-columns {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  column-gap: 20px;
  row-gap: 0.5rem; }
  .three-columns .column {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem; }

@media (min-width: 1320px) {
  .three-columns {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px; }
    .three-columns .column {
      row-gap: 18px; }
      .three-columns .column > div:last-child {
        flex-grow: 1; } }

.header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 13px;
  justify-content: flex-start; }
  .header-nav a {
    height: 48px;
    width: 48px;
    font-size: 24px;
    color: #fff;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #23262b;
    border-radius: 0 10px 10px 0; }
  .header-nav img {
    height: 58px;
    width: 73px; }

.nav-button {
  color: #2196F3;
  background-color: #FFFFFF;
  border: 1px solid #2196F3;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  line-height: 40px;
  max-width: 102px;
  padding: 11px 17px;
  text-decoration: none;
  margin-right: 14px; }
  .nav-button.selected {
    color: #FFFFFF;
    background-color: #2196F3;
    opacity: 100%; }

.searchbox {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px; }
  .searchbox .welcome {
    font-size: 22px; }
  .searchbox input {
    border-radius: 5px;
    height: 44px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    color: #000; }

@media (min-width: 992px) {
  .searchbox {
    gap: 15px;
    padding-left: 0;
    padding-right: 0; } }

.sidebar-nav-item {
  display: block;
  height: 74px;
  width: 109px;
  padding-top: 13px;
  border-radius: 0px 10px 10px 0px; }
  .sidebar-nav-item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    color: #fff;
    text-decoration: none;
    opacity: 70%; }
    .sidebar-nav-item a img {
      width: 29px;
      height: 29px; }
  .sidebar-nav-item.selected {
    background-color: #23262b;
    /* TODO: use variable */ }
    .sidebar-nav-item.selected a {
      color: #fff;
      opacity: 100%; }

.toolbox-item a {
  color: #fff;
  font-size: 24px;
  text-decoration: none; }

.dashboard-cc-renewal {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  border-left: solid 6px red;
  padding-left: 17px; }
  .dashboard-cc-renewal .name {
    font-size: 14px;
    font-weight: 700; }
  .dashboard-cc-renewal .card {
    display: flex;
    flex-direction: row;
    column-gap: 5px; }

.dashboard-people-checked-in {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  min-width: 325px; }
  .dashboard-people-checked-in .info .name {
    font-size: 14px;
    font-weight: 600;
    line-height: 16px; }
  .dashboard-people-checked-in .info .email {
    font-size: 12px;
    line-height: 14px; }

.dashboard-reservation {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 11px;
  min-width: 325px;
  border: 1px solid rgba(183, 117, 164, 0.19);
  border-radius: 10px;
  padding: 13px;
  font-size: 13px;
  font-family: Roboto;
  line-height: 20px; }
  .dashboard-reservation .time-interval {
    color: #c4c4c4;
    font-weight: bold;
    min-width: 57px; }
  .dashboard-reservation .time-interval.green {
    color: #5e8923; }
  .dashboard-reservation .time-interval.red {
    color: #5e8923; }
  .dashboard-reservation .info .unit {
    font-size: 16px; }
  .dashboard-reservation .info .user {
    font-size: 12px; }

.dashboard-self-registering {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  min-width: 325px; }
  .dashboard-self-registering .info .name {
    font-size: 14px;
    font-weight: 600;
    line-height: 16px; }
  .dashboard-self-registering .info .email {
    font-size: 12px;
    line-height: 14px; }

.header .content .header-nav {
  display: flex;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-color: #5e8923; }

.header .content .toolbox {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: #5e8923; }

.header .content .searchbox {
  grid-column: 1 / 3;
  grid-row: 2 / 3; }

@media (min-width: 992px) {
  .header .content .header-nav {
    display: none; }
  .header .content .searchbox {
    grid-column: 2 / 3; }
  .header .content .toolbox {
    grid-column: 4 / 5;
    background-color: rgba(0, 0, 0, 0); } }

.members-access-code {
  color: white;
  background-color: #23262B;
  border-radius: 10px;
  padding: 13px 15px; }
  .members-access-code img {
    margin-left: 10px; }

.members-address {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 11px;
  min-width: 325px;
  border: 1px solid rgba(183, 117, 164, 0.19);
  border-radius: 10px;
  padding: 13px;
  font-size: 13px;
  font-family: Roboto;
  line-height: 20px; }
  .members-address .info {
    flex: 1; }
    .members-address .info .type {
      font-size: 16px; }
    .members-address .info .street {
      font-size: 14px; }
  .members-address .controls {
    align-self: start; }

.comment .label {
  color: #5E8923; }

.comment .text {
  font-size: 14px;
  margin-top: 9px;
  white-space: pre-line; }

.comment #panel-separator {
  margin: 18px auto 26px auto; }

.members-contract-document {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 11px;
  min-width: 325px;
  border: 1px solid rgba(183, 117, 164, 0.19);
  border-radius: 10px;
  padding: 13px;
  font-size: 13px;
  font-family: Roboto;
  line-height: 20px; }
  .members-contract-document .info {
    flex: 1; }
    .members-contract-document .info .bold-info {
      font-size: 14px;
      font-weight: bold; }

.members-custom-fields .info {
  margin-top: 15px; }
  .members-custom-fields .info .label {
    color: #5E5E5E;
    font-size: 14px;
    font-weight: 300;
    opacity: 90%; }
  .members-custom-fields .info .text {
    color: #23262B;
    font-size: 16px;
    font-weight: 400; }

.members-phone {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 11px;
  min-width: 325px;
  border: 1px solid rgba(183, 117, 164, 0.19);
  border-radius: 10px;
  padding: 13px;
  font-size: 13px;
  font-family: Roboto;
  line-height: 20px; }
  .members-phone .phone-number {
    max-width: 138px; }
  .members-phone .info {
    flex: 1; }
    .members-phone .info .field {
      font-size: 14px; }
  .members-phone .controls {
    align-self: start; }

.members-system-info .info {
  min-width: 98px; }
  .members-system-info .info .label {
    color: #5E5E5E;
    font-size: 14px;
    font-weight: 300;
    opacity: 90%; }
  .members-system-info .info .text {
    color: #23262B;
    font-size: 16px;
    font-weight: 400; }

.toolbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 26px;
  justify-content: flex-end;
  padding-right: 16px; }
  .toolbox .toolbox-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    font-size: 0.7rem; }
    .toolbox .toolbox-user .name {
      display: none; }
    .toolbox .toolbox-user .toolbox-avatar {
      height: 32px;
      width: 32px;
      background-color: #f16b41;
      border-radius: 7px;
      text-align: center;
      padding: 5px 0;
      font-size: 18px; }

@media (min-width: 992px) {
  .toolbox {
    gap: 40px;
    padding-right: 0; }
    .toolbox .toolbox-user .name {
      display: block; } }

.billing-info {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  font-size: 14px; }
  .billing-info .revenue .amount {
    color: #23262b;
    font-size: 28px;
    font-weight: bold; }
  .billing-info .accounts-receivable {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem; }
    .billing-info .accounts-receivable .item {
      background-color: rgba(94, 137, 35, 0.15);
      border-radius: 10px;
      padding: 17px 14px;
      flex-grow: 1; }
      .billing-info .accounts-receivable .item .amount {
        font-size: 22px;
        font-weight: bold; }
      .billing-info .accounts-receivable .item .title {
        margin-top: 9px; }

.panel .cc-renewal {
  display: flex;
  flex-direction: column;
  row-gap: 21px; }

.panel .content.access-code {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end; }
  .panel .content.access-code .code {
    font-size: 28px;
    font-weight: bold;
    color: #000000; }
  .panel .content.access-code .expand-button {
    margin: 0 6px 6px 0; }

.panel .people-checked-in {
  display: flex;
  flex-direction: column;
  row-gap: 10px; }

.panel .self-registering {
  display: flex;
  flex-direction: column;
  row-gap: 10px; }

.panel .reservation {
  display: flex;
  flex-direction: column;
  row-gap: 10px; }

.page-header {
  font-family: Roboto;
  font-size: 16px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(182, 182, 182, 0.25);
  position: relative; }
  .page-header .page-header-title {
    margin-bottom: 16px; }
  .page-header .page-header-content-wrapper .page-header-content {
    display: flex;
    flex-wrap: wrap; }
    .page-header .page-header-content-wrapper .page-header-content .page-header-info {
      margin-top: auto;
      margin-bottom: 16px; }
      .page-header .page-header-content-wrapper .page-header-content .page-header-info .page-header-name {
        font-size: 24px; }
      .page-header .page-header-content-wrapper .page-header-content .page-header-info .page-header-business {
        display: flex;
        align-items: flex-end;
        font-size: 14px; }
        .page-header .page-header-content-wrapper .page-header-content .page-header-info .page-header-business img {
          margin: 0 0 4px 0; }
        .page-header .page-header-content-wrapper .page-header-content .page-header-info .page-header-business div {
          margin: 0 0 1px 11px; }
    .page-header .page-header-content-wrapper .page-header-content .page-header-info:first-child {
      order: 1;
      max-width: 280px; }
    .page-header .page-header-content-wrapper .page-header-content .page-header-info:nth-child(2) {
      width: 100%;
      order: 3; }
    .page-header .page-header-content-wrapper .page-header-content .page-header-info:last-child {
      margin-left: auto;
      order: 2; }

.desktop-only {
  display: none; }

@media screen and (min-width: 992px) {
  .mobile-only {
    display: none; }
  .desktop-only {
    display: inline; }
  .page-header .page-header-content-wrapper .page-header-content .page-header-info:first-child {
    order: 1;
    min-width: 280px; }
  .page-header .page-header-content-wrapper .page-header-content .page-header-info:nth-child(2) {
    order: 2;
    min-width: 200px;
    max-width: 200px; }
  .page-header .page-header-content-wrapper .page-header-content .page-header-info:last-child {
    margin-left: auto;
    order: 3; } }

#page-header-pencil a img {
  background-color: #DEE9F1;
  border-radius: 10px;
  padding: 10px; }

.panel.member-profile {
  /* Commented it out for sake of consistency with Dashboard panels
  .panel-header {
    align-items: center;
    height: 40px;
  }
  */ }
  .panel.member-profile .access-code {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px; }

.panel {
  /*
  .panel-header {
    .title {
      display: flex;
      align-items: center;
      font-weight: bold;
    }
  }
  */ }
  .panel .address {
    display: flex;
    flex-direction: column;
    row-gap: 10px; }

.panel .comment .label {
  color: #5E8923; }

.panel .comment .text {
  font-size: 14px;
  margin-top: 9px; }

.panel .comment #panel-separator {
  margin: 18px auto 26px auto; }

.login-info-panel .info .label {
  font-size: 14px;
  font-weight: 300; }

.login-info-panel .info .bolt-text {
  color: #23262B;
  font-weight: 400; }

.login-info-panel .info:not(:last-child) {
  margin-bottom: 19px; }

#login-info-user-name {
  color: #5E8923;
  font-size: 20px; }

.membership-panel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 11px;
  max-width: 390px;
  border-radius: 10px;
  font-size: 13px;
  font-family: Roboto;
  line-height: 20px; }
  .membership-panel .members-system-info:last-child {
    grid-column-start: 1;
    grid-column-end: 3; }

.system-information {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 11px;
  min-width: 325px;
  border: 1px solid rgba(183, 117, 164, 0.19);
  border-radius: 10px;
  padding: 13px;
  font-size: 13px;
  font-family: Roboto;
  line-height: 20px; }

.main.adaptive-columns {
  display: flex;
  flex-direction: column;
  row-gap: 15px; }

@media (min-width: 992px) {
  .main.adaptive-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 30px;
    row-gap: 21px; }
    .main.adaptive-columns .login-info {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2; }
    .main.adaptive-columns .membership {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3; }
    .main.adaptive-columns .phones {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 3;
      grid-row-end: 4; }
    .main.adaptive-columns .access-codes {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 4;
      grid-row-end: 5; }
    .main.adaptive-columns .printer-codes {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 5;
      grid-row-end: 6; }
    .main.adaptive-columns .system-info {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 6;
      grid-row-end: 7; }
    .main.adaptive-columns .contract-documents {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 7;
      grid-row-end: 8; }
    .main.adaptive-columns .addresses {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 8;
      grid-row-end: 9; }
    .main.adaptive-columns .mailboxes {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 9;
      grid-row-end: 10; }
    .main.adaptive-columns .comments {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 7; }
    .main.adaptive-columns .custom-fields {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 7;
      grid-row-end: 10; } }

@media (min-width: 1320px) {
  .main.adaptive-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 30px;
    row-gap: 21px; }
    .main.adaptive-columns .login-info {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2; }
    .main.adaptive-columns .membership {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3; }
    .main.adaptive-columns .system-info {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 3;
      grid-row-end: 4; }
    .main.adaptive-columns .contract-documents {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 4;
      grid-row-end: 5; }
    .main.adaptive-columns .custom-fields {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 5;
      grid-row-end: 6; }
    .main.adaptive-columns .comments {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 6; }
    .main.adaptive-columns .phones {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 2; }
    .main.adaptive-columns .access-codes {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 2;
      grid-row-end: 3; }
    .main.adaptive-columns .printer-codes {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 3;
      grid-row-end: 4; }
    .main.adaptive-columns .addresses {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 4;
      grid-row-end: 5; }
    .main.adaptive-columns .mailboxes {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 5;
      grid-row-end: 6; } }

/*
.reservation {
  grid-column: 1 / 2;
}

.people-checked-in {
  grid-column: 1 / 2;
}

.miscellaneous {
  grid-column: 1 / 2;
}

@media (min-width: $laptop-breakpoint) {
  .reservation {
    grid-column: 1 / 2;
  }

  .people-checked-in {
    grid-column: 2 / 3;
  }

  .miscellaneous {
    grid-column: 3 / 4;
  }
}
*/
.layout {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: "rightside rightside";
  height: 100vh; }

.sidebar {
  grid-area: leftside;
  display: none; }

.right-layout {
  grid-area: rightside;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: max-content auto; }

@media (min-width: 992px) {
  .layout {
    grid-template-columns: min-content auto;
    grid-template-areas: "leftside rightside"; }
  .sidebar {
    display: block; } }

@media (min-width: 1320px) {
  .main.adaptive-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 30px;
    row-gap: 21px; } }
