<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../assets/css/style.css?1639538092966" media="all">
</head>
<div class="layout">
  <div class="sidebar">
    <img class="sidebar-logo" src="../../images/logo.png">
    <div class="sidebar-nav">      <div class="sidebar-nav-item selected">
          <a href="#">
            <img src="../../images/dashboard-icon.svg">
            <span>Dashboard</span>
          </a>
        </div>
        <div class="sidebar-nav-item ">
          <a href="#">
            <img src="../../images/members-icon.svg">
            <span>Members</span>
          </a>
        </div>
        <div class="sidebar-nav-item ">
          <a href="#">
            <img src="../../images/accounting-icon.svg">
            <span>Accounting</span>
          </a>
        </div>
        <div class="sidebar-nav-item ">
          <a href="#">
            <img src="../../images/reports-icon.svg">
            <span>Reports</span>
          </a>
        </div>
        <div class="sidebar-nav-item ">
          <a href="#">
            <img src="../../images/communications-icon.svg">
            <span>Communications</span>
          </a>
        </div>
  </div>
  </div>
  <div class="right-layout">
    <div class="header">
      <div class="content">
          <div class="header-nav">
            <a href="#">
              <i class="fa fa-bars"></i>
            </a>
            <img src="../../images/logo.png">
          </div>
          <div class="toolbox">
              <div class="toolbox-item">
                <a href="#">
                  <i class="fa fa-headset"></i>
                </a>
              </div>
              <div class="toolbox-item">
                <a href="#">
                  <i class="fa fa-sliders-h"></i>
                </a>
              </div>
              <div class="toolbox-item">
                <a href="#">
                  <i class="far fa-bell"></i>
                </a>
              </div>
            <div class="toolbox-user">
              <div class="name">John Ferdinand</div>
              <div class="toolbox-avatar">JK</div>
            </div>
          </div>
          <div class="searchbox">
            <div class="welcome">Welcome Ferdinand,</div>
            <input placeholder="Search: name, company, $xx.xx, phone, MAC, etc">
          </div>
      </div>
    </div>
<div class="main three-columns">      <div class="column">
        <div class="panel">
          <div class="panel-header">
            <div class="left-side">
              <div class="title">
                Reservations Today
              </div>
              <div class="counter">
                3 Reservations
              </div>
            </div>
            <div class="action">
              Reserve
            </div>
          </div>
          <div class="content reservation">
              <div class="dashboard-reservation">
                <div class="dotted-line ">
                  <div class="icon"></div>
                  <div class="border"><br></div>
                  <div class="icon"></div>
                </div>
                <div class="time-interval ">
                  <div>10:30 AM</div>
                  <br>
                  <div>12:30 PM</div>
                </div>
                <div class="info">
                  <div class="unit">102 Small Conference Rm</div>
                  <div class="user">Action Village, Abraham James Lincoln</div>
                  <div>77db9dc1</div>
                </div>
              </div>
              <div class="dashboard-reservation">
                <div class="dotted-line green">
                  <div class="icon"></div>
                  <div class="border"><br></div>
                  <div class="icon"></div>
                </div>
                <div class="time-interval green">
                  <div>01:00 PM</div>
                  <br>
                  <div>03:30 PM</div>
                </div>
                <div class="info">
                  <div class="unit">Collab Suite 105</div>
                  <div class="user">Micro Care AZ, Yasmin Badri</div>
                  <div>329ef3e</div>
                </div>
              </div>
              <div class="dashboard-reservation">
                <div class="dotted-line red">
                  <div class="icon"></div>
                  <div class="border"><br></div>
                  <div class="icon"></div>
                </div>
                <div class="time-interval red">
                  <div>02:00 PM</div>
                  <br>
                  <div>03:00 PM</div>
                </div>
                <div class="info">
                  <div class="unit">4-3 Flex Defense: 8 Seats</div>
                  <div class="user">Hormone Therapy Centers of America or HTCA, Tyler Richardson</div>
                  <div>2a52fd7b</div>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="panel">
          <div class="panel-header">
            <div class="left-side">
              <div class="title">
                People Currently Checked-In
              </div>
              <div class="counter">
                8 People
              </div>
            </div>
            <div class="action">
            </div>
          </div>
          <div class="content people-checked-in">
              <div class="dashboard-people-checked-in">
                <div class="avatar badge admin">KF</div>
                <div class="info">
                  <div class="name">Kathi Firth</div>
                  <div class="email">kfirth@satellitedeskworks.com</div>
                </div>
              </div>
              <div class="dashboard-people-checked-in">
                <div class="avatar badge member">FG</div>
                <div class="info">
                  <div class="name">Formation, Guest</div>
                  <div class="email"></div>
                </div>
              </div>
              <div class="dashboard-people-checked-in">
                <div class="avatar badge member">DG</div>
                <div class="info">
                  <div class="name">Skylab or Freespace Social Inc or Silver Surfer Management Ventures LLC, Dean Grey</div>
                  <div class="email">operations@lab.net</div>
                </div>
              </div>
              <div class="dashboard-people-checked-in">
                <div class="avatar badge member">MW</div>
                <div class="info">
                  <div class="name">Amshore US Wind LLC, Mark Ward</div>
                  <div class="email">mark@armore.com</div>
                </div>
              </div>
              <div class="dashboard-people-checked-in">
                <div class="avatar badge member">DM</div>
                <div class="info">
                  <div class="name">Slate Land &amp; Development, Deneen Marsh</div>
                  <div class="email">dm@commercial.com</div>
                </div>
              </div>
              <div class="dashboard-people-checked-in">
                <div class="avatar badge member">DG</div>
                <div class="info">
                  <div class="name">The Red Flag Image Company or YouRulz, Inc, or Flag Media, Mike Magolnick</div>
                  <div class="email">mike@redflag.com</div>
                </div>
              </div>
              <div class="dashboard-people-checked-in">
                <div class="avatar badge member">KR</div>
                <div class="info">
                  <div class="name">Slate Land &amp; Development, Kris Ramjih</div>
                  <div class="email">commercial.com</div>
                </div>
              </div>
              <div class="dashboard-people-checked-in">
                <div class="avatar badge member">KR</div>
                <div class="info">
                  <div class="name">Slate Land &amp; Development, Kris Ramji</div>
                  <div class="email">kris@slatecommercial.com</div>
                </div>
              </div>
              <div class="dashboard-people-checked-in">
                <div class="avatar badge member">SJ</div>
                <div class="info">
                  <div class="name">Apple, Steave Jobs</div>
                  <div class="email">steave@apple.com</div>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="panel">
          <div class="panel-header">
            <div class="left-side">
              <div class="title">
                Access code of the day
              </div>
            </div>
          </div>
          <div class="content access-code">
            <div class="code">5dae7ef2</div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-header">
            <div class="left-side">
              <div class="title">
                Billing Info
              </div>
            </div>
          </div>
          <div class="content billing-info">
            <div class="revenue">
              <div class="amount">$ 36,036.13</div>
              <div class="title">Revenue this month</div>
            </div>
            <div class="accounts-receivable">
              <div class="item">
                <div class="amount">$ 6,545.00</div>
                <div class="title">Current<br>Accounts Receivable</div>
              </div>
              <div class="item">
                <div class="amount">$ 9,235.00</div>
                <div class="title">Total<br>Accounts Receivable</div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-header">
            <div class="left-side">
              <div class="title">
                Upcoming Credit Card Renewals
              </div>
            </div>
          </div>
          <div class="content cc-renewal">
              <div class="dashboard-cc-renewal">
                <div class="name">GoCartAI, Ashwin Gajendran Gayash</div>
                <div class="card">
                  <img src="../../../images/credit-card.svg">
                  <span>**7646</span>
                </div>
              </div>
              <div class="dashboard-cc-renewal">
                <div class="name">Stephanie Yao</div>
                <div class="card">
                  <img src="../../../images/credit-card.svg">
                  <span>**5453</span>
                </div>
              </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-header">
            <div class="left-side">
              <div class="title">
                People Currently Self Registering as Members
              </div>
              <div class="counter">
                2 People
              </div>
            </div>
            <div class="action">
            </div>
          </div>
          <div class="content self-registering">
              <div class="dashboard-self-registering">
                <div class="avatar ">RA</div>
                <div class="info">
                  <div class="name">Talent Sprint Inc, Rohit Agarwal</div>
                  <div class="email">rohit@talentsprint.com</div>
                </div>
              </div>
              <div class="dashboard-self-registering">
                <div class="avatar ">DS</div>
                <div class="info">
                  <div class="name">Armorblox, Dhanajay Sampath</div>
                  <div class="email">rohit@talentsprint.com</div>
                </div>
              </div>
          </div>
        </div>
      </div>
</div>
  </div>
</div>
</html>
