<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../assets/css/style.css?1639538092966" media="all">
</head>
<div class="layout">
  <div class="sidebar">
    <img class="sidebar-logo" src="../../images/logo.png">
    <div class="sidebar-nav">      <div class="sidebar-nav-item selected">
          <a href="#">
            <img src="../../images/dashboard-icon.png">
            <span>Dashboard</span>
          </a>
        </div>
        <div class="sidebar-nav-item ">
          <a href="#">
            <img src="../../images/members-icon.png">
            <span>Members</span>
          </a>
        </div>
        <div class="sidebar-nav-item ">
          <a href="#">
            <img src="../../images/accounting-icon.png">
            <span>Accounting</span>
          </a>
        </div>
        <div class="sidebar-nav-item ">
          <a href="#">
            <img src="../../images/reports-icon.png">
            <span>Reports</span>
          </a>
        </div>
        <div class="sidebar-nav-item ">
          <a href="#">
            <img src="../../images/communications-icon.png">
            <span>Communications</span>
          </a>
        </div>
  </div>
  </div>
  <div class="right-layout">
    <div class="header">
      <div class="content">
          <div class="searchbox">
            <div class="welcome">Welcome Ferdinand,</div>
            <input placeholder="Type here to search...">
          </div>
          <div class="toolbox">
              <div class="toolbox-item">
                <a href="#">
                  <i class="fa fa-headset"></i>
                </a>
              </div>
              <div class="toolbox-item">
                <a href="#">
                  <i class="fa fa-sliders-h"></i>
                </a>
              </div>
              <div class="toolbox-item">
                <a href="#">
                  <i class="far fa-bell"></i>
                </a>
              </div>
            <div class="toolbox-user">
              <div class="name">John Ferdinand</div>
              <div class="badge">JK</div>
            </div>
          </div>
      </div>
    </div>
<div class="main"></div>
  </div>
</div>
</html>
