<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../assets/css/style.css?1639538092966" media="all">
</head>

<div class="layout">
  
  <div class="sidebar">
    <img class="sidebar-logo" src="../../images/logo.png">
    <div class="sidebar-nav">      
        <div class="sidebar-nav-item ">
          <a href="#">
            <object class="sidebar-icon-color" data="../../images/sidenav-dashboard.svg" type="image/svg+xml">
              <img src="../../images/sidenav-dashboard.svg" alt="Sidebar Icon">
            </object>
            <span>Dashboard</span>
          </a>
          
        </div>
        
        <div class="sidebar-nav-item selected">
          <a href="#">
            <object class="sidebar-icon-color" data="../../images/sidenav-members.svg" type="image/svg+xml">
              <img src="../../images/sidenav-members.svg" alt="Sidebar Icon">
            </object>
            <span>Members</span>
          </a>
          
        </div>
        
        <div class="sidebar-nav-item ">
          <a href="#">
            <object class="sidebar-icon-color" data="../../images/sidenav-accounting.svg" type="image/svg+xml">
              <img src="../../images/sidenav-accounting.svg" alt="Sidebar Icon">
            </object>
            <span>Accounting</span>
          </a>
          
        </div>
        
        <div class="sidebar-nav-item ">
          <a href="#">
            <object class="sidebar-icon-color" data="../../images/sidenav-reports.svg" type="image/svg+xml">
              <img src="../../images/sidenav-reports.svg" alt="Sidebar Icon">
            </object>
            <span>Reports</span>
          </a>
          
        </div>
        
        <div class="sidebar-nav-item ">
          <a href="#">
            <object class="sidebar-icon-color" data="../../images/sidenav-communications.svg" type="image/svg+xml">
              <img src="../../images/sidenav-communications.svg" alt="Sidebar Icon">
            </object>
            <span>Communications</span>
          </a>
          
        </div>
        
        <div class="sidebar-nav-item ">
          <a href="#">
            <object class="sidebar-icon-color" data="../../images/sidenav-accounts.svg" type="image/svg+xml">
              <img src="../../images/sidenav-accounts.svg" alt="Sidebar Icon">
            </object>
            <span>My Accounts</span>
          </a>
          
        </div>
  </div>
  </div>
  <div class="right-layout">
    
    <div class="header">
      <div class="content">
          <div class="header-nav">
            <a href="#">
              <i class="fa fa-bars"></i>
            </a>
            <img src="../../images/logo.png">
          </div>
          <div class="toolbox">
              <div class="toolbox-item">
                <a href="#">
                  <i class="fa fa-headset"></i>
                </a>
              </div>
              <div class="toolbox-item">
                <a href="#">
                  <i class="fa fa-sliders-h"></i>
                </a>
              </div>
              <div class="toolbox-item">
                <a href="#">
                  <i class="far fa-bell"></i>
                </a>
              </div>
            <div class="toolbox-user">
              <div class="name">John Ferdinand</div>
              <div class="toolbox-avatar">JK</div>
            </div>
          </div>
          <div id="welcome">
            Welcome Ferdinand,
          </div>
          <div class="center-selection">
            <div><i class="fas fa-building"></i>Center</div>
          </div>
          <div class="searchbox">
            <input placeholder="Search: name, company, $xx.xx, phone, MAC, etc">
          </div>
      </div>
    </div>
    <div class="memberlist page-header">
      <div class="page-header-title">
        Member List
      </div>
      <div class="memberlist-controls">
      
        <div class="memberlist-checkboxes">
      
          
          <span class="checkbox-wrapper memberlist-checkbox">
            <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value1" checked>
            <label for="styled-checkbox-1">All</label>
          </span>
          
          <span class="checkbox-wrapper memberlist-checkbox">
            <input class="styled-checkbox" id="styled-checkbox-2" type="checkbox" value="value2">
            <label for="styled-checkbox-2">Active members</label>
          </span>
          
          <span class="checkbox-wrapper memberlist-checkbox">
            <input class="styled-checkbox" id="styled-checkbox-3" type="checkbox" value="value3">
            <label for="styled-checkbox-3">Inactive Members</label>
          </span>
          
          <span class="checkbox-wrapper memberlist-checkbox">
            <input class="styled-checkbox" id="styled-checkbox-4" type="checkbox" value="value4">
            <label for="styled-checkbox-4">Non-members</label>
          </span>
      
      
        </div>
        
        <span class="memberlist-actions">
          <span id="memberlist-new-member">
            <a href="#" class="btn-plus-thin">
              <object data="../../images/plus-thin.svg" type="image/svg+xml"></object>
              <span style="font-size: 12px;">New Member</span>
            </a>
          </span>
      
          <span id="memberlist-new-non-member">
            <a href="#" class="btn-plus-thin">
              <object data="../../images/plus-thin.svg" type="image/svg+xml"></object>
              <span style="font-size: 12px;">New Non Member</span>
            </a>
          </span>
        </span>
      </div>
      <div class="memberlist-counter">500 members</div>
    </div>
    <div class="memberlist-table">
    
      
      <div class="memberlist-table-header">
        <span>Members</span>
        <span id="hideCompany">Company</span>
        <span>Status</span>
      </div>
      
      
      <div id="panel-separator"></div>
    
        <div class="memberlist-table-row">
        
          <div class="dashboard-people-checked-in">
            
            <div class="avatar ">KF</div>
            <div class="info">
              <div class="name">Kathi Firth</div>
              <div class="email">kfirth@satellitedeskworks.com</div>
            </div>
          </div>
        
          <div id="hideCompany">Kathi Firth, llc</div>
        
          <div class="member-row-status">
            <span class="member-row-chip">
              <a href="#" class="chip Active ">
                Active
              </a>
            </span>
            <div id="page-header-pencil" class="memberlist-edit">
              <object data="../../images/pencil-large.svg" type="image/svg+xml">
                <img src="../../images/pencil-large.svg" alt="Edit">
              </object>
            </div>
          </div>
        </div>
        
        <div id="dashed-divider"></div>
        <div class="memberlist-table-row">
        
          <div class="dashboard-people-checked-in">
            
            <div class="avatar ">KF</div>
            <div class="info">
              <div class="name">Kathi Firth</div>
              <div class="email">kfirth@satellitedeskworks.com</div>
            </div>
          </div>
        
          <div id="hideCompany">Kathi Firth, llc</div>
        
          <div class="member-row-status">
            <span class="member-row-chip">
              <a href="#" class="chip Active ">
                Active
              </a>
            </span>
            <div id="page-header-pencil" class="memberlist-edit">
              <object data="../../images/pencil-large.svg" type="image/svg+xml">
                <img src="../../images/pencil-large.svg" alt="Edit">
              </object>
            </div>
          </div>
        </div>
        
        <div id="dashed-divider"></div>
        <div class="memberlist-table-row">
        
          <div class="dashboard-people-checked-in">
            
            <div class="avatar ">KF</div>
            <div class="info">
              <div class="name">Kathi Firth</div>
              <div class="email">kfirth@satellitedeskworks.com</div>
            </div>
          </div>
        
          <div id="hideCompany">Kathi Firth, llc</div>
        
          <div class="member-row-status">
            <span class="member-row-chip">
              <a href="#" class="chip Active ">
                Active
              </a>
            </span>
            <div id="page-header-pencil" class="memberlist-edit">
              <object data="../../images/pencil-large.svg" type="image/svg+xml">
                <img src="../../images/pencil-large.svg" alt="Edit">
              </object>
            </div>
          </div>
        </div>
        
        <div id="dashed-divider"></div>
        <div class="memberlist-table-row">
        
          <div class="dashboard-people-checked-in">
            
            <div class="avatar ">KF</div>
            <div class="info">
              <div class="name">Kathi Firth</div>
              <div class="email">emailemailemailemail@yahoo.com</div>
            </div>
          </div>
        
          <div id="hideCompany">Kathi Firth, llc</div>
        
          <div class="member-row-status">
            <span class="member-row-chip">
              <a href="#" class="chip Active ">
                Active
              </a>
            </span>
            <div id="page-header-pencil" class="memberlist-edit">
              <object data="../../images/pencil-large.svg" type="image/svg+xml">
                <img src="../../images/pencil-large.svg" alt="Edit">
              </object>
            </div>
          </div>
        </div>
        
        <div id="dashed-divider"></div>
        <div class="memberlist-table-row">
        
          <div class="dashboard-people-checked-in">
            
            <div class="avatar ">KF</div>
            <div class="info">
              <div class="name">Kathi Firth</div>
              <div class="email">kfirth23543452234534253425@satellitedeskworks.com</div>
            </div>
          </div>
        
          <div id="hideCompany">Kathi Firth, llc</div>
        
          <div class="member-row-status">
            <span class="member-row-chip">
              <a href="#" class="chip Inactive ">
                Inactive
              </a>
            </span>
            <div id="page-header-pencil" class="memberlist-edit">
              <object data="../../images/pencil-large.svg" type="image/svg+xml">
                <img src="../../images/pencil-large.svg" alt="Edit">
              </object>
            </div>
          </div>
        </div>
        
        <div id="dashed-divider"></div>
        <div class="memberlist-table-row">
        
          <div class="dashboard-people-checked-in">
            
            <div class="avatar ">KF</div>
            <div class="info">
              <div class="name">Kathi Firth</div>
              <div class="email">emailemailemail@email.com</div>
            </div>
          </div>
        
          <div id="hideCompany">Kathi Firth, llc</div>
        
          <div class="member-row-status">
            <span class="member-row-chip">
              <a href="#" class="chip Inactive ">
                Inactive
              </a>
            </span>
            <div id="page-header-pencil" class="memberlist-edit">
              <object data="../../images/pencil-large.svg" type="image/svg+xml">
                <img src="../../images/pencil-large.svg" alt="Edit">
              </object>
            </div>
          </div>
        </div>
        
        <div id="dashed-divider"></div>
        <div class="memberlist-table-row">
        
          <div class="dashboard-people-checked-in">
            
            <div class="avatar ">KF</div>
            <div class="info">
              <div class="name">Kathi Firth</div>
              <div class="email">kfirth11111t49h3gh98g34hg9p4p9g39g8p34hg32hp49@satellitedeskworks.com</div>
            </div>
          </div>
        
          <div id="hideCompany">Kathi Firth, llc</div>
        
          <div class="member-row-status">
            <span class="member-row-chip">
              <a href="#" class="chip Active ">
                Active
              </a>
            </span>
            <div id="page-header-pencil" class="memberlist-edit">
              <object data="../../images/pencil-large.svg" type="image/svg+xml">
                <img src="../../images/pencil-large.svg" alt="Edit">
              </object>
            </div>
          </div>
        </div>
        
        <div id="dashed-divider"></div>
        <div class="memberlist-table-row">
        
          <div class="dashboard-people-checked-in">
            
            <div class="avatar ">KF</div>
            <div class="info">
              <div class="name">Kathi Firth</div>
              <div class="email">kfirth111111111@satellitedeskworks.com</div>
            </div>
          </div>
        
          <div id="hideCompany">Kathi Firth, llc</div>
        
          <div class="member-row-status">
            <span class="member-row-chip">
              <a href="#" class="chip Non-member ">
                Non-member
              </a>
            </span>
            <div id="page-header-pencil" class="memberlist-edit">
              <object data="../../images/pencil-large.svg" type="image/svg+xml">
                <img src="../../images/pencil-large.svg" alt="Edit">
              </object>
            </div>
          </div>
        </div>
        
        <div id="dashed-divider"></div>
        <div class="memberlist-table-row">
        
          <div class="dashboard-people-checked-in">
            
            <div class="avatar ">KF</div>
            <div class="info">
              <div class="name">Kathi Firth</div>
              <div class="email">kfirth1111111111111111111@satellitedeskworks.com</div>
            </div>
          </div>
        
          <div id="hideCompany">Kathi Firth, llc</div>
        
          <div class="member-row-status">
            <span class="member-row-chip">
              <a href="#" class="chip Non-member ">
                Non-member
              </a>
            </span>
            <div id="page-header-pencil" class="memberlist-edit">
              <object data="../../images/pencil-large.svg" type="image/svg+xml">
                <img src="../../images/pencil-large.svg" alt="Edit">
              </object>
            </div>
          </div>
        </div>
        
        <div id="dashed-divider"></div>
    
      <div class="memberlist-load-more"><a href="#" id="btn-load-more"> load more records</a>
    </div>
    </div>
  </div>
</div>
</html>
