<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../assets/css/style.css?1639538092966" media="all">
</head>
<div class="wizard">
  <div class="body sign-up-step-one">
    <div class="sign-up overview">
      <img class="logo" src="../../images/logo.png">
      <div class="description">
        <h2>Coworking Management Software</h2>
        <p>Power your workspace with a single flexible tool.
          Satellite Deskworks’ flexible, cloud-based coworking management software helps build a more profitable and sustainable coworking space, shared workspace or business center.
        </p>
      </div>
      <img class="image" src="../../images/sign-up.svg">
      <h1 class="help">Need help?</h1>
      <div class="phone">
        <label>Phone:</label>
        <div class="number">831.222.2100</div>
      </div>
    </div>
    <div class="step form  ">
      <div class="step-header">
        <div class="thanks">Thanks for choosing Deskworks!</div>
        <h1>New Reservation on Deskworks</h1>
      </div>
    
      <div class="wizard-panel choose-space-panel">
        <div class="panel-header">Choose your type of space</div>
        <div class="panel-body">
        </div>
      </div>
    
    </div>
  </div>
</div>
</html>
