<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../assets/css/style.css?1639538092966" media="all">
</head>
<div class="wizard">
  <div class="body">
    <div class="sign-up overview">
      <img class="logo" src="../../images/logo.png">
      <div class="description">
        <h2>Coworking Management Software</h2>
        <p>Power your workspace with a single flexible tool.
          Satellite Deskworks’ flexible, cloud-based coworking management software helps build a more profitable and sustainable coworking space, shared workspace or business center.
        </p>
      </div>
      <img class="image" src="../../images/sign-up.svg">
      <h1 class="help">Need help?</h1>
      <div class="phone">
        <label>Phone:</label>
        <div class="number">831.222.2100</div>
      </div>
    </div>
    <div class="step form">
      <div class="step-header">
        <div class="thanks">Thanks for signing up!</div>
        <h1>Sign up to Deskworks</h1>
        <div class="step-number">Step 3/4</div>
      </div>
    
        <div class="wizard-panel receipt-alt">
          <div class="panel-header">Receipt for order: #005555, Jan 25, 2022</div>
          <div class="panel-body">
            
              <!-- Beginning of many rows -->
            
              <!-- First row begins -->
              <div class="receipt-product-row">
              <div class="receipt-product">
                <div class="receipt-product-label">Product</div>
                <span class="receipt-product-row-number">1.</span>
                <span class="receipt-product-info">
                  <div id="receipt-emphasized">Day Office, 10 days/month</div>
                  <div class="receipt-product-description">Day Office, 10 days/month</div>
                </span>
              </div>
            
              <div class="receipt-price">
                <div class="receipt-price-label">Price * Quantity</div>
                <span class="receipt-equation">
                  <span class="receipt-factors" style="font-weight: 600">$450.00 * 1</span>
                  <span id="receipt-emphasized" class="receipt-cost">$450.00</span>
                </span>
              </div>
              </div>
              <div id="dashed-divider"></div>
            
              <!-- End of many rows -->
            
              <!-- Row for taxes -->
              <span id="receipt-tax" style="margin-left: 25px;">
                <span>Tax</span>
                <span class="receipt-tax-amount" style="float: right">$0.00</span>
              </span>
            
              <div id="receipt-last-divider"></div>
            
              <!-- Row for payments -->
              <div id="receipt-payment">
                <div class="receipt-payment-info">
                  <div id="receipt-emphasized" class="receipt-payment-label">Payments</div>
                  <div style="font-weight: 600">Credit card Payment</div>
                  <div>XXXX-XXXX-XXXX-1111</div>
                </div>
                <div id="receipt-emphasized" style="margin-left: auto" class="receipt-total">$450.00</div>
              </div>
            
          </div>
        </div>
        <div class="wizard-panel membership">
          <div class="panel-header">Membership</div>
          <div class="panel-body">
                <div class="wizard-checkbox">
                  <input type="checkbox"> 
                  <span>Day Office, 10 days/month</span>
                </div>
                <div class="purchase">
            <div class="wizard-field quantity">
              <label>Quantity</label>
              <div class="field-content">
                        <input class="wizard-text-input" placeholder="Please enter">
              </div>
            </div>
            <div class="wizard-field notes">
              <label>Notes</label>
              <div class="field-content">
                        <input class="wizard-text-input" placeholder="Please enter">
              </div>
            </div>
                  <div class="amount"><span>$450.00</span></div>
                </div>
                <div class="wizard-checkbox">
                  <input type="checkbox"> 
                  <span>Cowork, 8 - 5.</span>
                </div>
                <div class="purchase">
            <div class="wizard-field quantity">
              <label>Quantity</label>
              <div class="field-content">
                        <input class="wizard-text-input" placeholder="Please enter">
              </div>
            </div>
            <div class="wizard-field notes">
              <label>Notes</label>
              <div class="field-content">
                        <input class="wizard-text-input" placeholder="Please enter">
              </div>
            </div>
                  <div class="amount"><span>$195.00</span></div>
                </div>
                <div class="wizard-checkbox">
                  <input type="checkbox"> 
                  <span>Cowork, Unlimited.</span>
                </div>
                <div class="purchase">
            <div class="wizard-field quantity">
              <label>Quantity</label>
              <div class="field-content">
                        <input class="wizard-text-input" placeholder="Please enter">
              </div>
            </div>
            <div class="wizard-field notes">
              <label>Notes</label>
              <div class="field-content">
                        <input class="wizard-text-input" placeholder="Please enter">
              </div>
            </div>
                  <div class="amount"><span>$250.00</span></div>
                </div>
                <div class="wizard-checkbox">
                  <input type="checkbox"> 
                  <span>Virtual Office - Mailbox.</span>
                </div>
                <div class="purchase">
            <div class="wizard-field quantity">
              <label>Quantity</label>
              <div class="field-content">
                        <input class="wizard-text-input" placeholder="Please enter">
              </div>
            </div>
            <div class="wizard-field notes">
              <label>Notes</label>
              <div class="field-content">
                        <input class="wizard-text-input" placeholder="Please enter">
              </div>
            </div>
                  <div class="amount"><span>$59.00</span></div>
                </div>
                <div class="wizard-checkbox">
                  <input type="checkbox"> 
                  <span>Virtual office - Phone.</span>
                </div>
                <div class="purchase">
            <div class="wizard-field quantity">
              <label>Quantity</label>
              <div class="field-content">
                        <input class="wizard-text-input" placeholder="Please enter">
              </div>
            </div>
            <div class="wizard-field notes">
              <label>Notes</label>
              <div class="field-content">
                        <input class="wizard-text-input" placeholder="Please enter">
              </div>
            </div>
                  <div class="amount"><span>$35.00</span></div>
                </div>
                <div class="wizard-checkbox">
                  <input type="checkbox"> 
                  <span>10 Day pass bucket.</span>
                </div>
                <div class="purchase">
            <div class="wizard-field quantity">
              <label>Quantity</label>
              <div class="field-content">
                        <input class="wizard-text-input" placeholder="Please enter">
              </div>
            </div>
            <div class="wizard-field notes">
              <label>Notes</label>
              <div class="field-content">
                        <input class="wizard-text-input" placeholder="Please enter">
              </div>
            </div>
                  <div class="amount"><span>$135.00</span></div>
                </div>
                <div class="wizard-checkbox">
                  <input type="checkbox"> 
                  <span>Conference Room, bucket of hrs.</span>
                </div>
                <div class="purchase">
            <div class="wizard-field quantity">
              <label>Quantity</label>
              <div class="field-content">
                        <input class="wizard-text-input" placeholder="Please enter">
              </div>
            </div>
            <div class="wizard-field notes">
              <label>Notes</label>
              <div class="field-content">
                        <input class="wizard-text-input" placeholder="Please enter">
              </div>
            </div>
                  <div class="amount"><span>$300.00</span></div>
                </div>
                <div class="wizard-checkbox">
                  <input type="checkbox"> 
                  <span>Workstation bucket of hrs.</span>
                </div>
                <div class="purchase">
            <div class="wizard-field quantity">
              <label>Quantity</label>
              <div class="field-content">
                        <input class="wizard-text-input" placeholder="Please enter">
              </div>
            </div>
            <div class="wizard-field notes">
              <label>Notes</label>
              <div class="field-content">
                        <input class="wizard-text-input" placeholder="Please enter">
              </div>
            </div>
                  <div class="amount"><span>$200.00</span></div>
                </div>
          </div>
        </div>
    
      <div class="buttons">
        <div class="left-group">
            <a href="#" class="wizard-button back">
              <img src="../../images/left-chevron.svg" alt="Back">
              <span>Back</span>
            </a>
        </div>
        <div class="right-group">
          <a href="#" class="wizard-button ">Cancel</a>
          <a href="#" class="wizard-button dark">Complete Purchase</a>
        </div>
      </div>
    </div>
  </div>
</div>
</html>
