<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../assets/css/style.css?1639538092966" media="all">
</head>
<div class="wizard">
  <div class="body">
    <div class="sign-up overview">
      <img class="logo" src="../../images/logo.png">
      <div class="description">
        <h2>Coworking Management Software</h2>
        <p>Power your workspace with a single flexible tool.
          Satellite Deskworks’ flexible, cloud-based coworking management software helps build a more profitable and sustainable coworking space, shared workspace or business center.
        </p>
      </div>
      <img class="image" src="../../images/sign-up.svg">
      <h1 class="help">Need help?</h1>
      <div class="phone">
        <label>Phone:</label>
        <div class="number">831.222.2100</div>
      </div>
    </div>
    <div class="step form  ">
      <div class="step-header">
        <div class="thanks">Thanks for signing up!</div>
        <h1>Sign up to Deskworks</h1>
          <div class="step-number">Step 2/4</div>
      </div>
    
        <div class="wizard-panel personal-information">
          <div class="panel-header">Personal Information</div>
          <div class="panel-body">
            
              <div class="portrait">
                <img class="member-picture" src="../../images/man.svg" alt="Member Picture">
                <a href="#" class="wizard-button ">Upload photo</a>
              </div>
            
            <div class="wizard-field first-name">
              <label>First name</label>
              <div class="field-content">
                      <input class="wizard-text-input" placeholder="Please enter">
              </div>
            </div>
            
            <div class="wizard-field last-name">
              <label>Last name</label>
              <div class="field-content">
                      <input class="wizard-text-input" placeholder="Please enter">
              </div>
            </div>
            
            <div class="wizard-field email-address">
              <label>Email address</label>
              <div class="field-content">
                      <input class="wizard-text-input" placeholder="Please enter">
              </div>
            </div>
            
            <div class="wizard-field company">
              <label>Company</label>
              <div class="field-content">
                      <input class="wizard-text-input" placeholder="Please enter">
              </div>
            </div>
            
              <div class="phone-field">
                <label>Phone Type & Number</label>
                <div class="phone">
                  <a href="#" class="wizard-dropdown">
                        <span class="select">Select</span>
                    <img src="../../images/down-chevron.svg" alt="Dropdown">
                  </a>
                    <input class="wizard-text-input" placeholder="Please enter">
                </div>
              </div>
            
            <div class="wizard-field occupation">
              <label>Occupation</label>
              <div class="field-content">
                      <input class="wizard-text-input" placeholder="Please enter">
              </div>
            </div>
          </div>
        </div>
        <div class="wizard-panel address">
          <div class="panel-header">Address</div>
          <div class="panel-body">
            <div class="wizard-field address-type">
              <label>Address Type</label>
              <div class="field-content">
                    <a href="#" class="wizard-dropdown">
                          <span class="select">Select</span>
                      <img src="../../images/down-chevron.svg" alt="Dropdown">
                    </a>
              </div>
            </div>
            <div class="wizard-field street">
              <label>Street</label>
              <div class="field-content">
                      <input class="wizard-text-input" placeholder="Please enter">
              </div>
            </div>
            <div class="wizard-field city">
              <label>City</label>
              <div class="field-content">
                      <input class="wizard-text-input" placeholder="Please enter">
              </div>
            </div>
            <div class="wizard-field country">
              <label>Country</label>
              <div class="field-content">
                    <a href="#" class="wizard-dropdown">
                          <span class="select">Select</span>
                      <img src="../../images/down-chevron.svg" alt="Dropdown">
                    </a>
              </div>
            </div>
            <div class="wizard-field state">
              <label>State/Province</label>
              <div class="field-content">
                    <a href="#" class="wizard-dropdown">
                          <span class="select">Select</span>
                      <img src="../../images/down-chevron.svg" alt="Dropdown">
                    </a>
              </div>
            </div>
            <div class="wizard-field zip">
              <label>Zip/Postal</label>
              <div class="field-content">
                      <input class="wizard-text-input" placeholder="Please enter">
              </div>
            </div>
          </div>
        </div>
        <div class="wizard-panel login-information">
          <div class="panel-header">Login Information</div>
          <div class="panel-body">
            <div class="wizard-field login">
              <label>Login</label>
              <div class="field-content">
                      <input class="wizard-text-input" placeholder="Please enter">
              </div>
            </div>
            <div class="wizard-field password">
              <label>Password</label>
              <div class="field-content">
                      <input class="wizard-text-input" placeholder="Please enter">
              </div>
            </div>
            <div class="wizard-field confirm-password">
              <label>Confirm Password</label>
              <div class="field-content">
                      <input class="wizard-text-input" placeholder="Please enter">
              </div>
            </div>
              
              <div class="wizard-checkbox">
                <input type="checkbox"> 
                <span>Do not send group emails</span>
              </div>
          </div>
        </div>
        <div class="wizard-panel terms">
          <div class="panel-header">Terms of service</div>
          <div class="panel-body">
              <div class="row">
                
                <div class="wizard-checkbox">
                  <input type="checkbox"> 
                  <span>By checking this box you agree to</span>
                </div>
                <a href="#">The Satellite's Terms and Conditions</a>
              </div>
          </div>
        </div>
        <div class="wizard-panel about-us">
          <div class="panel-header">How did you hear about us?</div>
          <div class="panel-body">
              <a href="#" class="wizard-dropdown">
                    <span class="select">Select</span>
                <img src="../../images/down-chevron.svg" alt="Dropdown">
              </a>
          </div>
        </div>
    
        <div class="buttons">
          <div class="left-group">
              <a href="#" class="wizard-button back">
                <i style="padding-right: 6px" class="fa fa-chevron-left" aria-hidden="true"></i>
                <span>Back</span>
              </a>
          </div>
          <div class="right-group">
            <a href="#" class="wizard-button dark">Proceed</a>
          </div>
        </div>
    </div>
  </div>
</div>
</html>
