<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../assets/css/style.css?1639538092966" media="all">
</head>
<div class="wizard">
  <div class="body">
    <div class="sign-up overview">
      <img class="logo" src="../../images/logo.png">
      <div class="description">
        <h2>Coworking Management Software</h2>
        <p>Power your workspace with a single flexible tool.
          Satellite Deskworks’ flexible, cloud-based coworking management software helps build a more profitable and sustainable coworking space, shared workspace or business center.
        </p>
      </div>
      <img class="image" src="../../images/sign-up.svg">
      <h1 class="help">Need help?</h1>
      <div class="phone">
        <label>Phone:</label>
        <div class="number">831.222.2100</div>
      </div>
    </div>
    <div class="step form">
      <div class="step-header">
        <div class="thanks">Thanks for signing up!</div>
        <h1>Sign up to Deskworks</h1>
        <div class="step-number">Step 1/4</div>
      </div>
    
        <div class="wizard-panel center">
          <div class="panel-header">Center</div>
          <div class="panel-body">
              <a href="#" class="wizard-dropdown">
                  <span class="select">Select</span>
                <img src="../../images/down-chevron.svg" alt="Dropdown">
              </a>
          </div>
        </div>
        <div class="wizard-panel membership-category">
          <div class="panel-header">Membership Category</div>
          <div class="accordion">
              <div class="accordion-item selected">
                <div class="accordion-header">
                  <input type="radio" name="membership-category" checked>
                  <span>Private Office Plans</span>
                </div>
                <div class="panel-body private-office">
                    <div class="category-description">Try it out! Use credit card #4111111111111111 (4 then 15 ones.)</div>
                  <div class="wizard-field select-plan">
                    <label>Please select a plan</label>
                    <div class="field-content">
                          <a href="#" class="wizard-dropdown">
                              <span class="select">Select</span>
                            <img src="../../images/down-chevron.svg" alt="Dropdown">
                          </a>
                    </div>
                  </div>
                  <div class="wizard-field start-date">
                    <label>Start Date</label>
                    <div class="field-content">
                          <a href="#" class="wizard-dropdown">
                              <span class="select">Select</span>
                            <img src="../../images/down-chevron.svg" alt="Dropdown">
                          </a>
                    </div>
                  </div>
                    <div class="price">price $450</div>
                    <div class="plan-description">Get an office for 10 days/month.<br>To test signing up, use  credit card #4111111111111111 (4 then 15 ones.)</div>
                </div>
              </div>
              <div class="accordion-item ">
                <div class="accordion-header">
                  <input type="radio" name="membership-category" >
                  <span>Cowork Plans</span>
                </div>
              </div>
              <div class="accordion-item ">
                <div class="accordion-header">
                  <input type="radio" name="membership-category" >
                  <span>Virtual Office Plans</span>
                </div>
              </div>
              <div class="accordion-item ">
                <div class="accordion-header">
                  <input type="radio" name="membership-category" >
                  <span>Bucket of Hours Plans</span>
                </div>
              </div>
          </div>
        </div>
    
      <div class="buttons">
        <div class="left-group">
        </div>
        <div class="right-group">
          <a href="#" class="wizard-button ">Cancel</a>
          <a href="#" class="wizard-button dark">Proceed</a>
        </div>
      </div>
    </div>
  </div>
</div>
</html>
